:root {
  /* COLORS */
  --background-page-color: hsl(210, 46%, 95%);
  --background-first-card-color: hsl(263, 55%, 52%);
  --background-second-card-color: hsl(217, 19%, 35%);
  --background-third-card-color: hsl(0, 0%, 100%);
  --background-fourth-card-color: hsl(219, 29%, 14%);
  --background-fifth-card-color: hsl(0, 0%, 100%);
  --text-light-color: hsl(0, 0%, 81%);
  --text-dark-color: hsl(217, 19%, 35%);
  --border-first-avatar-color: hsl(264, 82%, 70%);
  --border-fourth-avatar-color: hsl(263, 55%, 52%);

  /* TEXT PRESETS */
  --text-family: "Barlow Semi Condensed", sans-serif;

  /* TEXT PRESET 1 - TESTIMONIAL-HEADER */
  --text-testimonial-header-size: 2rem;
  --text-testimonial-header-weight: 600;
  --text-testimonial-header-height: 2rem;
  --text-testimonial-header-spacing: 0rem;

  /* TEXT PRESET 2 - TESTIMONIAL-BODY */
  --text-testimonial-body-size: 1.3rem;
  --text-testimonial-body-weight: 500;
  --text-testimonial-body-height: 1.8rem;
  --text-testimonial-body-spacing: 0rem;
  --text-testimonial-body-opacity: 70%;

  /* TEXT PRESET 3 - AUTHOR-NAME */
  --text-author-name-size: 1.3rem;
  --text-author-name-weight: 500;
  --text-author-name-height: 1.3rem;
  --text-author-name-spacing: 0rem;

  /* TEXT PRESET 4 - AUTHOR-STATUS */
  --text-author-status-size: 1.1rem;
  --text-author-status-weight: 500;
  --text-author-status-height: 1.1rem;
  --text-author-status-spacing: 0rem;
  --text-author-status-opacity: 50%;
}
